[submodule "2-grading-tests"]
	path = 2-grading-tests
	url = git@github.com:spbu-coding-2024/2-grading-tests.git
[submodule "2-pepeclub"]
	path = 2-pepeclub
	url = git@github.com:spbu-coding-2024/2-pepeclub.git
