[submodule "2-grading-tests"]
	path = 2-grading-tests
	url = git@github.com:spbu-coding-2024/2-grading-tests.git
[submodule "2-pepeclub"]
	path = 2-pepeclub
	url = git@github.com:spbu-coding-2024/2-pepeclub.git
[submodule "2-lev666"]
	path = 2-lev666
	url = git@github.com:spbu-coding-2024/2-lev666.git
[submodule "2-K0tB0ris"]
	path = 2-K0tB0ris
	url = git@github.com:spbu-coding-2024/2-K0tB0ris.git
[submodule "2-vvmaksim"]
	path = 2-vvmaksim
	url = git@github.com:spbu-coding-2024/2-vvmaksim.git
[submodule "2-Drenger"]
	path = 2-Drenger
	url = git@github.com:spbu-coding-2024/2-Drenger.git
[submodule "2-Stepiiiiiiik"]
	path = 2-Stepiiiiiiik
	url = git@github.com:spbu-coding-2024/2-Stepiiiiiiik.git
[submodule "2-mariagrinn"]
	path = 2-mariagrinn
	url = git@github.com:spbu-coding-2024/2-mariagrinn.git
[submodule "2-Nasty12121"]
	path = 2-Nasty12121
	url = git@github.com:spbu-coding-2024/2-Nasty12121.git
[submodule "2-Ganesha1967"]
	path = 2-Ganesha1967
	url = git@github.com:spbu-coding-2024/2-Ganesha1967.git
[submodule "2-epishkin06"]
	path = 2-epishkin06
	url = git@github.com:spbu-coding-2024/2-epishkin06.git
[submodule "2-ilq1"]
	path = 2-ilq1
	url = git@github.com:spbu-coding-2024/2-ilq1.git
[submodule "2-NIcolaiKl"]
	path = 2-NIcolaiKl
	url = git@github.com:spbu-coding-2024/2-NIcolaiKl.git
[submodule "2-pechenb"]
	path = 2-pechenb
	url = git@github.com:spbu-coding-2024/2-pechenb.git
[submodule "2-fUS1ONd"]
	path = 2-fUS1ONd
	url = git@github.com:spbu-coding-2024/2-fUS1ONd.git
[submodule "2-VladislavLoikov"]
	path = 2-VladislavLoikov
	url = git@github.com:spbu-coding-2024/2-VladislavLoikov.git
[submodule "2-Muhammdmagomedov"]
	path = 2-Muhammdmagomedov
	url = git@github.com:spbu-coding-2024/2-Muhammdmagomedov.git
[submodule "2-d031273"]
	path = 2-d031273
	url = git@github.com:spbu-coding-2024/2-d031273.git
[submodule "2-ilyamaltsev05"]
	path = 2-ilyamaltsev05
	url = git@github.com:spbu-coding-2024/2-ilyamaltsev05.git
[submodule "2-g4rry1"]
	path = 2-g4rry1
	url = git@github.com:spbu-coding-2024/2-g4rry1.git
[submodule "2-DaryaNechaeva"]
	path = 2-DaryaNechaeva
	url = git@github.com:spbu-coding-2024/2-DaryaNechaeva.git
[submodule "2-XRenso"]
	path = 2-XRenso
	url = git@github.com:spbu-coding-2024/2-XRenso.git
[submodule "2-Nicholas-uni"]
	path = 2-Nicholas-uni
	url = git@github.com:spbu-coding-2024/2-Nicholas-uni.git
[submodule "2-MickeyPashaev"]
	path = 2-MickeyPashaev
	url = git@github.com:spbu-coding-2024/2-MickeyPashaev.git
[submodule "2-madarch1tect"]
	path = 2-madarch1tect
	url = git@github.com:spbu-coding-2024/2-madarch1tect.git
[submodule "2-vlapugb"]
	path = 2-vlapugb
	url = git@github.com:spbu-coding-2024/2-vlapugb.git
[submodule "2-RannyayaAnastasia"]
	path = 2-RannyayaAnastasia
	url = git@github.com:spbu-coding-2024/2-RannyayaAnastasia.git
[submodule "2-K1mer0"]
	path = 2-K1mer0
	url = git@github.com:spbu-coding-2024/2-K1mer0.git
[submodule "2-ArsenijRomanov"]
	path = 2-ArsenijRomanov
	url = git@github.com:spbu-coding-2024/2-ArsenijRomanov.git
[submodule "2-semrosin"]
	path = 2-semrosin
	url = git@github.com:spbu-coding-2024/2-semrosin.git
[submodule "2-MikhailSvirukov"]
	path = 2-MikhailSvirukov
	url = git@github.com:spbu-coding-2024/2-MikhailSvirukov.git
[submodule "2-TheFollan"]
	path = 2-TheFollan
	url = git@github.com:spbu-coding-2024/2-TheFollan.git
[submodule "2-Soslan977"]
	path = 2-Soslan977
	url = git@github.com:spbu-coding-2024/2-Soslan977.git
[submodule "2-lospollosenjoyer"]
	path = 2-lospollosenjoyer
	url = git@github.com:spbu-coding-2024/2-lospollosenjoyer.git
[submodule "2-VladimirKhmelev"]
	path = 2-VladimirKhmelev
	url = git@github.com:spbu-coding-2024/2-VladimirKhmelev.git
[submodule "2-Daniil-Chepurnikh"]
	path = 2-Daniil-Chepurnikh
	url = git@github.com:spbu-coding-2024/2-Daniil-Chepurnikh.git
[submodule "2-talubik"]
	path = 2-talubik
	url = git@github.com:spbu-coding-2024/2-talubik.git
[submodule "2-Nickovlev"]
	path = 2-Nickovlev
	url = git@github.com:spbu-coding-2024/2-Nickovlev.git
[submodule "2-AlexandrGorbunov564"]
	path = 2-AlexandrGorbunov564
	url = git@github.com:spbu-coding-2024/2-AlexandrGorbunov564.git
[submodule "2-RomanMaltsev"]
	path = 2-RomanMaltsev
	url = git@github.com:spbu-coding-2024/2-RomanMaltsev.git
[submodule "2-Egorkayka"]
	path = 2-Egorkayka
	url = git@github.com:spbu-coding-2024/2-Egorkayka.git
[submodule "2-Galay-Nastya"]
	path = 2-Galay-Nastya
	url = git@github.com:spbu-coding-2024/2-Galay-Nastya.git
[submodule "2-End0ra"]
	path = 2-End0ra
	url = git@github.com:spbu-coding-2024/2-End0ra.git
