[submodule "2-grading-tests"]
	path = 2-grading-tests
	url = git@github.com:spbu-coding-2024/2-grading-tests.git
[submodule "2-pepeclub"]
	path = 2-pepeclub
	url = git@github.com:spbu-coding-2024/2-pepeclub.git
[submodule "2-lev666"]
	path = 2-lev666
	url = git@github.com:spbu-coding-2024/2-lev666.git
[submodule "2-K0tB0ris"]
	path = 2-K0tB0ris
	url = git@github.com:spbu-coding-2024/2-K0tB0ris.git
[submodule "2-vvmaksim"]
	path = 2-vvmaksim
	url = git@github.com:spbu-coding-2024/2-vvmaksim.git
[submodule "2-Drenger"]
	path = 2-Drenger
	url = git@github.com:spbu-coding-2024/2-Drenger.git
[submodule "2-Stepiiiiiiik"]
	path = 2-Stepiiiiiiik
	url = git@github.com:spbu-coding-2024/2-Stepiiiiiiik.git
[submodule "2-mariagrinn"]
	path = 2-mariagrinn
	url = git@github.com:spbu-coding-2024/2-mariagrinn.git
[submodule "2-Nasty12121"]
	path = 2-Nasty12121
	url = git@github.com:spbu-coding-2024/2-Nasty12121.git
[submodule "2-Ganesha1967"]
	path = 2-Ganesha1967
	url = git@github.com:spbu-coding-2024/2-Ganesha1967.git
[submodule "2-epishkin06"]
	path = 2-epishkin06
	url = git@github.com:spbu-coding-2024/2-epishkin06.git
